# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://emfspnwngbokxqlloycx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtZnNwbnduZ2Jva3hxbGxveWN4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5MTQ2NjEsImV4cCI6MjA4ODQ5MDY2MX0.Gb25LcRCjND88PfKOVRSSztIfhmu0_v4bGf3kjGpbu8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtZnNwbnduZ2Jva3hxbGxveWN4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjkxNDY2MSwiZXhwIjoyMDg4NDkwNjYxfQ.g4Uz3-cRM-TlSlxcoh29JMODSPoA41HNg0Mn2GfoDfg

# Stripe
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRICE_ID=price_...

# Replicate
REPLICATE_API_TOKEN=r8_...

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
